<div>
    <p>Identifique las cantidades de envases y embalajes enajenadas, comercializados bajo marca propia o importados*
        para uso profesional, en forma desagregada de acuerdo</p>
</div>

<div class="table-responsive mb-4" *ngFor="let t of tablas; let i = index">
    <!-- DESKTOP -->
    <table class="table table-even table-section table-borderless table-align-middle table-border table-radius table-statement">
        <thead>
            <tr>
                <th colspan="13">Responsabilidad por embalaje {{t}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center fw-bold bg-green-light">
                <td width="16%" class="text-start bg-green color-white" style="font-size: 18px;" rowspan="2">{{t}}</td>
                <td colspan="2">Prim. No Peligrosos</td>
                <td colspan="2">Prim. Peligrosos</td>
                <td colspan="2">Secundarios/Terciarios</td>
                <td colspan="2">Peso total(ton)</td>
                <td>Dif. {{year_statement -1}} vs {{year_statement}} (%)</td>
                <td>Monto (UF)</td>
            </tr>
            <tr class="text-center bg-green-light-2">
                <td width="7%" class="color-red">{{year_statement - 1}}</td>
                <td width="7%">{{year_statement}}</td>
                <td width="7%" class="color-red">{{year_statement - 1}}</td>
                <td width="7%">{{year_statement}}</td>
                <td width="7%" class="color-red">{{year_statement - 1}}</td>
                <td width="7%">{{year_statement}}</td>
                <td width="7%" class="color-red">{{year_statement - 1}}</td>
                <td width="7%">{{year_statement}}</td>
                <td width="7%" class="color-red"></td>
                <td width="7%">{{year_statement}}</td>
            </tr>
            <tr class="text-end" *ngFor="let r of residuos; let x = index">
                <td>{{r}}</td>
                
                <td id="inp_l_{{i+1}}_{{(x+1)}}_1_2" class="bg-grey-light">0</td>
                <td> <input value="0" id="inp_{{i+1}}_{{(x+1)}}_1_2" type="text" min="0" class="form-control"
                        (change)="updateValue((i+1),(x+1),1,2,$event.target)"> </td>
                <td id="inp_l_{{i+1}}_{{(x+1)}}_1_1" class="bg-grey-light">0</td>
                <td> <input value="0" id="inp_{{i+1}}_{{(x+1)}}_1_1" type="text" min="0"
                        class="form-control form-control-sm" (change)="updateValue((i+1),(x+1),1,1,$event.target)">
                </td>
                <td id="inp_l_{{i+1}}_{{(x+1)}}_2_1" class="bg-grey-light">0</td>
                <td> <input value="0" id="inp_{{i+1}}_{{(x+1)}}_2_1" type="text" min="0"
                        class="form-control form-control-sm" (change)="updateValue((i+1),(x+1),2,1,$event.target)">
                </td>
                <td id="last_weight_{{i+1}}_{{x+1}}" class="bg-grey-light">0</td>
                <td> <input value="0" readonly id="actual_weight_{{i+1}}_{{x+1}}" type="text"
                        class="form-control form-control-sm"> </td>
                <td> <input value="0" readonly id="actual_dif_{{i+1}}_{{x+1}}" type="text"
                        class="form-control form-control-sm"> </td>
                <td> <input value="0" readonly id="actual_amount_{{i+1}}_{{x+1}}" type="text"
                        class="form-control form-control-sm"> </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="7"></td>
                <td colspan="2">
                    <div class="d-flex justify-content-between">
                        <span>Peso (ton):</span>
                        <span id="total_weight_{{i+1}}"></span>
                    </div>
                </td>
                <td colspan="2">
                    <div class="d-flex justify-content-between">
                        <span>Total:</span>
                        <span id="total_amount_{{i+1}}"></span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>