<div class="container mt-4">
    <nav class="breadcrumbs d-none d-lg-block" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Consulta de Declaración</li>
        </ol>
    </nav>
    <!-- inicio Consulta de declaración -->
    <section class="declaracion">
        <h1>Consulta de Declaración</h1>
        <div class="box box-form mb-4">
            <div class="row align-items-end">
                <div class="col-12 col-xl-2 mb-3 mb-xl-0">
                    <label class="form-label">Empresa CI:</label>
                    <div class="input-group">
                        <select id="f_name" class="form-select" [(ngModel)]="selectedBusiness"
                            (change)="updateFilters()">
                            <option value="-1" selected>Todos</option>
                            <option *ngFor="let na of business_name" value="{{na}}">{{na}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-xl-2 mb-3 mb-xl-0">
                    <label class="form-label">Tipo de tratamiento:</label>
                    <div class="input-group">
                        <select id="f_establishment" class="form-select" [(ngModel)]="selectedTreatment"
                            (change)="updateFilters()">
                            <option value="-1" selected>Todos</option>
                            <option *ngFor="let es of treatment_name" value="{{es}}">{{es}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-xl-2 mb-3 mb-xl-0">
                    <label class="form-label">Material:</label>
                    <div class="input-group">
                        <select id="f_material" class="form-select" [(ngModel)]="selectedMaterial"
                            (change)="updateFilters()">
                            <option value="-1" selected>Todos</option>
                            <option *ngFor="let ma of material_name" value="{{ma}}">{{ma}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-xl-2 mb-3 mb-xl-0">
                    <label class="form-label">Fecha de retiro:</label>
                    <div class="input-group">
                        <select id="f_year" class="form-select" [(ngModel)]="selectedYear" (change)="updateFilters()">
                            <option value="-1" selected>Todos</option>
                            <option *ngFor="let y of years" value="{{y}}">{{y}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-xl-2 mb-3 mb-xl-0">
                    <label class="form-label">Estado:</label>
                    <div class="input-group">
                        <select id="f_state" class="form-select" [(ngModel)]="selectedState" (change)="updateFilters()">
                            <option value="-1" selected>Todos</option>
                            <option *ngFor="let s of state" [value]="s">{{getStateText(s)}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-xl-2 mb-3 mb-xl-0">
                    <label class="form-label">&nbsp;</label>
                    <!-- Añade un espacio vacío para alinear el botón correctamente -->
                    <div class="input-group">
                        <button class="btn btn-primary w-100"
                            (click)="autoFilter = false; filter(); pagTo(0)">Mostrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-even table-section table-borderless table-radius">
                <thead class="vertical-middle">
                    <tr>
                        <th>Empresa CI</th>
                        <th>Establecimiento CI</th>
                        <th>Tipo de tratamiento</th>
                        <th>Material</th>
                        <th>Subtipo</th>
                        <th>Fecha Retiro</th>
                        <th>Estado</th>
                        <th>Peso Declarado</th>
                        <th>Peso Valorizado</th>
                        <th>Aprobar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of db; let x = index">
                        <td>{{s.NAME_BUSINESS}}</td>
                        <td>{{s.NAME_ESTABLISHMENT_REGION}}</td>
                        <td>{{s.TipoTratamiento}}</td>
                        <td>{{s.PRECEDENCE}}</td>
                        <td>{{s.TYPE_RESIDUE}}</td>
                        <td>{{s.FechaRetiro | date: 'dd-MM-yyyy'}}</td>
                        <td>
                            <span *ngIf="s.STATE_GESTOR == 0">Por aprobar</span>
                            <span *ngIf="s.STATE_GESTOR != 0">Aprobado</span>
                        </td>
                        <td>{{s.VALUE}}</td>
                        <td>{{s.VALUE_DECLARATE}}</td>
                        <td>
                            <a class="custom-cursor" data-bs-toggle="modal" [attr.data-bs-target]="s.STATE_GESTOR == 0 ? '#infoModal' : null" (click)="handleClick(x, s.STATE_GESTOR)"
                               [ngClass]="{'no-pointer': s.STATE_GESTOR !== 0}">
                              <i class="fa fa-check fa-lg fa-fw"
                                 [ngClass]="s.STATE_GESTOR == 0 ? 'color-verde-opaco' : 'color-verde'"
                                 aria-hidden="true"></i>
                            </a>
                          </td>                          
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Pagination -->
        <nav aria-label="Navegación resultados">
            <ul class="pagination">
                <li><button class="btn btn-primary" (click)="pagTo(0)">Primero</button></li>
                <li><button class="btn btn-primary" (click)="previus()">Anterior</button></li>
                <li *ngFor="let in of setArrayFromNumber(); let i = index"><button class="border btn btn-sm"
                        [ngClass]="{ 'btn-info':pos==(i+1), 'btn-primary': pos != (i+1)}"
                        (click)="pagTo(i)">{{i+1}}</button></li>
                <li><button class="btn btn-primary" (click)="next()">Siguiente</button></li>
                <li><button class="btn btn-primary" (click)="pagTo(cant-1)">Último</button></li>
            </ul>
        </nav>
    </section>
    <!-- fin Monitor Inicio -->
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    (hidden.bs.modal)="reset()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar factura reciclador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #miFormulario="ngForm" [formGroup]="userForm">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Núm. Factura Reciclador</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="1234" formControlName="invoiceNumber" (input)="onRUTChange(this.index)">
                            <div *ngIf="userForm.controls['invoiceNumber'].errors && userForm.controls['invoiceNumber'].touched"
                                class="text-danger">
                                <p *ngIf="userForm.controls['invoiceNumber'].errors['required']">Debe ingresar un número
                                    de factura.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">RUT Reciclador</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="1-9" formControlName="rut"
                                (input)="onRUTChange(this.index)">
                            <div *ngIf="userForm.controls['rut'].errors && userForm.controls['rut'].touched"
                                class="text-danger pl-0">
                                <p *ngIf="userForm.controls['rut'].errors['required']">El rut de la empresa es
                                    requerido.</p>
                                <p *ngIf="userForm.controls['rut'].errors['pattern']">El formato del RUT es inválido
                                    (Sin puntos y con guión).</p>
                                <p *ngIf="userForm.controls['rut'].errors['rut']">El digito verificador es incorrecto.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Reciclador</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Reciclador demo"
                                formControlName="reciclador" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Tipo Tratamiento</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Tipo tratamiento"
                                formControlName="treatmentType" readonly >
                                <div *ngIf="userForm.controls['treatmentType'].errors && userForm.controls['treatmentType'].touched"
                                class="text-danger pl-0">
                                <p *ngIf="userForm.controls['treatmentType'].errors['required']">El rut de la empresa es
                                    requerido.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Material</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Tipo material"
                                formControlName="material" readonly>
                                <div *ngIf="userForm.controls['material'].errors && userForm.controls['material'].touched"
                                class="text-danger pl-0">
                                <p *ngIf="userForm.controls['material'].errors['required']">El rut de la empresa es
                                    requerido.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Fecha Ingreso PR</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" placeholder="10/4/2023" formControlName="entryDate">
                            <div *ngIf="userForm.controls['entryDate'].errors && userForm.controls['entryDate'].touched"
                                class="text-danger">
                                <p *ngIf="userForm.controls['entryDate'].errors['required']">Debe ingresar una fecha.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Peso Total</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="totalWeight">
                            <div *ngIf="userForm.controls['totalWeight'].errors && userForm.controls['totalWeight'].touched"
                                class="text-danger">
                                <p *ngIf="userForm.controls['totalWeight'].errors['required']">Debe ingresar un peso
                                    total.</p>
                                <p *ngIf="userForm.controls['totalWeight'].errors['pattern']">Debe ingresar un número
                                    válido (Con puntos).</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Peso Acomulado</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                formControlName="declarateWeight" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Peso Valorizado</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="valuedWeight">
                            <div *ngIf="userForm.controls['valuedWeight'].errors && userForm.controls['valuedWeight'].touched"
                                class="text-danger">
                                <p *ngIf="userForm.controls['valuedWeight'].errors['required']">Debe ingresar un peso
                                    valorizado.</p>
                                <p *ngIf="userForm.controls['valuedWeight'].errors['pattern']">Debe ingresar un número
                                    válido (Con puntos).</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Peso Remanente</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="remainingWeight" readonly
                                [value]="calculateRemainingWeight()">
                            <div *ngIf="isRemainingWeightNegative" class="text-danger pl-0">
                                <p>El peso remanente no puede ser menor que cero.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Num. Declaraciones asociadas</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="asoc" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Adjuntar</label>
                        <div class="col-sm-8">
                            <input type="file" formControlName="attachment" id="inp_attachment" class="form-control"
                                accept="application/pdf, image/jpeg" required (change)="onFileSelected($event)">
                            <div *ngIf="userForm.controls['attachment'].errors && userForm.controls['attachment'].touched"
                                class="text-danger pl-0">
                                <p *ngIf="userForm.controls['attachment'].errors['invalidFileType']">El formato del
                                    archivo
                                    debe ser PDF,
                                    JPEG o JPG.</p>
                                <p *ngIf="userForm.controls['attachment'].errors['invalidFileSize']">El tamaño del
                                    archivo
                                    no debe superar 1 MB.</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.userForm.reset()">Volver</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="userForm.invalid || isRemainingWeightNegative" (click)="saveInvoice(this.index)">Guardar</button>
            </div>
        </div>
    </div>
</div>