<div class="container mt-4">
    <nav class="breadcrumbs d-none d-lg-block" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
  
    <div class="gauge-container">
      <div class="circle-container">
        <div *ngFor="let month of months; let idx = index" (click)="selectMonth(idx)" class="circle-with-line" [class.past-month]="month.isCurrent">
            <div class="month-circle">
                {{month.num}}
            </div>
            <div class="line" *ngIf="!isLastMonth(month)"></div>
        </div>
    </div>  
      <div class="row justify-content-start">
  
        <div class="col-12 col-lg-6 mb-5">
          <div class="gauge-container-graph-big">
            <ngx-charts-gauge [view]="bigView" [scheme]="colorScheme" [results]="single1"
              [valueFormatting]="valueFormatting"></ngx-charts-gauge>
            <div class="chart-subtitle" style="margin-left: 130px;">CUMPLIMIENTO GENERAL</div>
            <p class="toneladas-label" style="margin-left: 190px;">TONELADAS: {{setFormato(single1?.[0]?.toneladas)}}</p>
          </div>
        </div>
  
        <div class="col-12 col-lg-5 mb-5" style="margin-left: 60px; margin-top: 30px;">
          <div class="card">
            <div class="card-header">
              Tabla Metas
            </div>
            <div class="card-body">
              <table class="table-metas">
                <tbody>
                  <tr>
                    <td>N° Socios</td>
                    <td>{{count_business}}</td>
                  </tr>
                  <tr>
                    <td>POM Total</td>
                    <td>{{setFormato(pom)}} Ton</td>
                  </tr>
                  <tr>
                    <td>POM Meta 2023</td>
                    <td>{{setFormato(pom * globalGoal)}} Ton</td>
                  </tr>
                  <tr>
                    <td>POM Meta Papel/Cartón 2023</td>
                    <td>{{setFormato(pom * paperCardboardGoal * globalGoal)}} Ton</td>
                  </tr>
                  <tr>
                    <td>POM Meta Metal 2023</td>
                    <td>{{setFormato(pom * metalGoal * globalGoal)}} Ton</td>
                  </tr>
                  <tr>
                    <td>POM Meta Plástico 2023</td>
                    <td>{{setFormato(pom * plasticGoal * globalGoal)}} Ton</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="gauge-container-graph">
            <ngx-charts-gauge [view]="smallView" [scheme]="colorScheme" [results]="single2"
              [valueFormatting]="valueFormatting"></ngx-charts-gauge>
            <div class="chart-subtitle-small">CUMPLIMIENTO PAPEL/CARTÓN</div>
            <p class="toneladas-label">TONELADAS: {{setFormato(single2?.[0]?.toneladas)}}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gauge-container-graph">
            <ngx-charts-gauge [view]="smallView" [scheme]="colorScheme" [results]="single3"
              [valueFormatting]="valueFormatting"></ngx-charts-gauge>
            <div class="chart-subtitle-small">CUMPLIMIENTO METAL</div>
            <p class="toneladas-label">TONELADAS: {{setFormato(single3?.[0]?.toneladas)}}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gauge-container-graph">
            <ngx-charts-gauge [view]="smallView" [scheme]="colorScheme" [results]="single4"
              [valueFormatting]="valueFormatting"></ngx-charts-gauge>
            <div class="chart-subtitle-small">CUMPLIMIENTO PLÁSTICO</div>
            <p class="toneladas-label">TONELADAS: {{setFormato(single4?.[0]?.toneladas)}}</p>
          </div>
        </div>
      </div>
      <p class="legend"></p>
      <p class="legend">La información de este gráfico corresponde SOLO al año {{currentYear}}.</p>
    </div>
  
    <select class="select-btn" id="anioSelector" [(ngModel)]="selectedYear" (change)="onYearChange()">
      <option value="">Seleccionar Año</option>
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
  </select>
  
  
    <div class="chart-container">
      <div class="row">
        <div class="col-12 col-lg-6 mb-5">
          <div style="text-align: center;font-size: medium;"> TONELADAS VALORIZADAS POR MATERIAL</div>
          <ngx-charts-bar-vertical-stacked [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [legendTitle]="' '"[showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="true">
          </ngx-charts-bar-vertical-stacked>
        </div>
        <div class="col-12 col-lg-6 mb-5">
          <div style="text-align: center;font-size: medium;"> TONELADAS VALORIZADAS POR AÑO</div>
          <ngx-charts-bar-vertical-stacked [view]="view2" [scheme]="colorBarras" [results]="multi2" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [legendTitle]="' '"[showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel2" [yAxisLabel]="yAxisLabel" [showDataLabel]="true">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>
  </div>