
<!-- Excel -->
<div class="d-md-flex justify-content-end">
    <a class="btn" (click)="tableToExcel()" >Exportar Excel <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i></a>
</div>
<div class="table-responsive mb-4">
    
    <!-- inicio Consulta de Declaración -->
    <section >

        <div class="row w-100">
            <!-- Columna 1 -->
            <div id = "table" #table1 class="w-100">
                 <div  *ngFor=" let t of tablas; let i = index" class="w-100">
                    <!-- Tabla Desktop -->
                    <table class="table table-even table-section table-borderless table-border table-radius d-lg-table w-100">
                        
                        <thead>
                            <tr class="text-center w-100" >
                                <th class="text-start">Material</th>
                                <th colspan="2">Prim. Peligroso</th>
                                <th colspan="2">Prim. No Peligroso</th>
                                <th colspan="2">Secundario</th>
                                <th colspan="2">Terciario</th>
                                <th colspan="3">Peso total (ton)</th>
                                <th colspan="3">Monto</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="text-center bg-green-light-2 w-100">
                                <td class="fw-bold text-start">{{t}}</td>
                                <td class="color-red" width="7%">{{year_statement - 1}}</td>
                                <td width="7%">{{year_statement}}</td>
                                <td class="color-red" width="7%">{{year_statement - 1}}</td>
                                <td width="7%">{{year_statement}}</td>
                                <td class="color-red" width="7%">{{year_statement - 1}}</td>
                                <td width="7%">{{year_statement}}</td>
                                <td class="color-red" width="7%">{{year_statement - 1}}</td>
                                <td width="7%">{{year_statement}}</td>
                                <td class="color-red" width="7%">{{year_statement - 1}}</td>
                                <td width="7%">{{year_statement}}</td>
                                <td class="color-red" width="7%">Dif. (%)</td>
                                <td class="color-red" width="7%">{{year_statement - 1}}</td>
                                <td width="7%">{{year_statement}}</td>
                                <td class="color-red" width="7%">Dif. (%)</td>
                            </tr>
                            <tr class="text-end w-100" *ngFor="let r of residuos; let x = index">
                                <td class="text-start">{{r}}</td>
                                <td class="bg-red-light " id ="td_l_{{i+1}}_1_1_{{x+1}}" >0</td>
                                <td id="td_{{i+1}}_1_1_{{x+1}}">0</td>
                                <td class="bg-red-light " id ="td_l_{{i+1}}_1_2_{{x+1}}" >0</td>
                                <td id="td_{{i+1}}_1_2_{{x+1}}">0</td>
                                <td class="bg-red-light " id = "td_l_{{i+1}}_2_1_{{x+1}}">0</td>
                                <td id="td_{{i+1}}_2_1_{{x+1}}">0</td>
                                <td class="bg-red-light " id = "td_l_{{i+1}}_3_1_{{x+1}}">0</td>
                                <td id="td_{{i+1}}_3_1_{{x+1}}">0</td>
                                <td id= "l_weight_{{i+1}}_{{x+1}}" class="bg-red-light">0</td>
                                <td id="actual_weight_{{i+1}}_{{x+1}}">0</td>
                                <td id="diff_weight_{{i+1}}_{{x+1}}" class="bg-gray color-green ">0%</td>
                                <td id= "l_amount_{{i+1}}_{{x+1}}" class="bg-red-light">$0</td>
                                <td id="actual_amount_{{i+1}}_{{x+1}}">$0</td>
                                <td id="diff_amount_{{i+1}}_{{x+1}}" class="bg-gray color-green ">0%</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-end w-100">
                                <td class="text-start" colspan="9">Total (Peso / Monto)</td>
                                <td id ="td_l_{{i+1}}">0</td>
                                <td id ="td_{{i+1}}">0</td>
                                <td id ="td_diff_weight_{{i+1}}">0</td>
                                <td id ="td_l_amount_{{i+1}}">$0</td>
                                <td id ="td_amount_{{i+1}}">$0</td>
                                <td id ="td_diff_amount_{{i+1}}">0</td>
                            </tr>
                        </tfoot>
                        
                        
                    </table>

                    
                </div>
                
            </div>
            <!-- Tabla Mobile -->
            <!-- <div class="mb-4 mb-lg-0">
                
                <table class="table table-even table-section table-borderless table-align-middle table-border table-radius d-lg-none mb-0">
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th colspan="2" class="text-center">Prim. Peligroso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-green-light-2 text-center">
                            <td width="50%" class="text-start fw-bold">Reciclable</td>
                            <td width="25%" class="color-red">{{year_statement - 1}}</td>
                            <td width="25%">{{year_statement}}</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Papel cartón</td>
                            <td class="bg-red-light"></td>
                            <td></td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Metal</td>
                            <td class="bg-red-light"></td>
                            <td></td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Plástico</td>
                            <td class="bg-red-light"></td>
                            <td></td>
                        </tr>
                        <tr class="bg-green-light-2 text-center">
                            <td class="text-start fw-bold">Reciclable</td>
                            <td class="color-red">{{year_statement - 1}}</td>
                            <td>{{year_statement}}</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Plástico</td>
                            <td class="bg-red-light"></td>
                            <td></td>
                            <tr class="text-end">
                        <td class="text-start">Madera</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>

                    <tr class="text-end">
                        <td class="text-start">Otro/Env.Compuesto</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="3"></td>
                    </tfoot>
                </table>
                
                <table class="table table-even table-section table-borderless table-align-middle table-border d-lg-none mb-0">
                    <thead>
                        <tr class="text-end">
                        <td class="text-start">Madera</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                    <tr class="text-end">
                        <td class="text-start">Otro/Env.Compuesto</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                        <tr>

                            <th>Material</th>
                            <th colspan="2" class="text-center">Prim. No Peligroso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-green-light-2 text-center">
                            <td width="50%" class="text-start fw-bold">Reciclable</td>
                            <td width="25%" class="color-red">{{year_statement - 1}}</td>
                            <td width="25%">{{year_statement}}</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Papel cartón</td>
                            <td class="bg-red-light">2,543</td>
                            <td>2,600</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Metal</td>
                            <td class="bg-red-light"></td>
                            <td></td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Plástico</td>
                            <td class="bg-red-light">0,364</td>
                            <td>0,400</td>
                        </tr>
                        <tr class="bg-green-light-2 text-center">
                            <td class="text-start fw-bold">Reciclable</td>
                            <td class="color-red">{{year_statement - 1}}</td>
                            <td>{{year_statement}}</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Plástico</td>
                            <td class="bg-red-light"></td>
                            <td></td>
                            <tr class="text-end">
                        <td class="text-start">Madera</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>

                    <tr class="text-end">
                        <td class="text-start">Otro/Env.Compuesto</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="3"></td>
                    </tfoot>
                </table>
                
                <table class="table table-even table-section table-borderless table-align-middle table-border d-lg-none mb-0">
                    <thead>
                        <tr class="text-end">
                        <td class="text-start">Madera</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                    <tr class="text-end">
                        <td class="text-start">Otro/Env.Compuesto</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                        <tr>

                            <th>Material</th>
                            <th colspan="2" class="text-center">Secundario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-green-light-2 text-center">
                            <td width="50%" class="text-start fw-bold">Reciclable</td>
                            <td width="25%" class="color-red">{{year_statement - 1}}</td>
                            <td width="25%">{{year_statement}}</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Papel cartón</td>
                            <td class="bg-red-light"></td>
                            <td></td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Metal</td>
                            <td class="bg-red-light">0,145</td>
                            <td>0,150</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Plástico</td>
                            <td class="bg-red-light"></td>
                            <td></td>
                        </tr>
                        <tr class="bg-green-light-2 text-center">
                            <td class="text-start fw-bold">Reciclable</td>
                            <td class="color-red">{{year_statement - 1}}</td>
                            <td>{{year_statement}}</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Plástico</td>
                            <td class="bg-red-light">2,175</td>
                            <td>2,250</td>
                            <tr class="text-end">
                        <td class="text-start">Madera</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>

                    <tr class="text-end">
                        <td class="text-start">Otro/Env.Compuesto</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="3"></td>
                    </tfoot>
                </table>
                
                <table class="table table-even table-section table-borderless table-align-middle table-border d-lg-none mb-0">
                    <thead>
                        <tr class="text-end">
                        <td class="text-start">Madera</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                    <tr class="text-end">
                        <td class="text-start">Otro/Env.Compuesto</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                        <tr>

                            <th colspan="4">Peso total (ton)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-green-light-2 text-center">
                            <td class="text-start fw-bold">Reciclable</td>
                            <td class="color-red">{{year_statement - 1}}</td>
                            <td>{{year_statement}}</td>
                            <td class="color-red">Dif. (%)</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Papel cartón</td>
                            <td class="bg-red-light">2,543</td>
                            <td>2,600</td>
                            <td class="bg-gray color-green">+2,24%</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Metal</td>
                            <td class="bg-red-light">0,145</td>
                            <td>0,150</td>
                            <td class="bg-gray color-green">+3,45%</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Plástico</td>
                            <td class="bg-red-light">0,364</td>
                            <td>0,400</td>
                            <td class="bg-gray color-green">+9,89%</td>
                        </tr>
                        <tr class="bg-green-light-2 text-center">
                            <td class="text-start fw-bold">Reciclable</td>
                            <td class="color-red">{{year_statement - 1}}</td>
                            <td>{{year_statement}}</td>
                            <td class="color-red">Dif. (%)</td>
                        </tr>
                        <tr class="text-end">
                            <td class="text-start">Plástico
                                <tr class="text-end">
                        <td class="text-start">Madera</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>

                    <tr class="text-end">
                        <td class="text-start">Otro/Env.Compuesto</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                            </td>
                            <td class="bg-red-light">2,175</td>
                            <td>2,250</td>
                            <td class="bg-gray color-green">+3,45%</td>
                        </tr>
                    </tbody>
                    <tfoot class="text-end">
                        <td class="text-start">Total (ton)</td>
                        <td>5,227</td>
                        <td>5,400</td>
                        <td>+3,31%</td>
                        <tr class="text-end">
                        <td class="text-start">Madera</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                    <tr class="text-end">
                        <td class="text-start">Otro/Env.Compuesto</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light"></td>
                        <td></td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-red-light">0,364</td>
                        <td>0,400</td>
                        <td class="bg-gray color-green">+9,89%</td>
                    </tr>
                    </tfoot>
                </table>

            </div>-->
            <!-- Fin Tabla Mobile -->
        </div>
        <!--<div style="visibility: hidden">
            <p>Se pueden visualizar los datos resumen que fueron ingresados anteriormente en la declaración, además existe la posibilidad de visualizar el resumen en formato .xlsx dando click en "Exportar Excel". Si todo está bien, puede continuar con la declaración presionando "Siguiente".   </p>
        </div> -->
        
    </section>
    <!-- fin Consulta de Declaración -->

</div>
