<div id="content">
    <!-- inicio breadcrumbs -->  
    <nav class="breadcrumbs d-none d-lg-block" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><i class="fa fa-home" aria-hidden="true"></i> Inicio</li>
        </ol>
    </nav>
    <!-- fin breadcrumbs -->
    
    <!-- inicio Inicio -->
    <section class="inicio">
        <h1>Inicio</h1>
        <div class="box box-inicio">
            <div >
                <!-- columna 1 -->
                <div class="col-12 col-md-8">
                    <h2 class="h1">Bienvenido/a a Módulo de Consumidor Industrial</h2>
                    <p style="visibility:hidden;">Como parte de las obligaciones que establece la Ley REP, los Productores deben informar la cantidad de EyE no domiciliarios (POM) puestos en el mercado el año anterior.</p>
                    <p style="visibility:hidden;">ProREP pone a disposición de sus socios la plataforma de declaración que dará cumplimiento a la obligación de informar sus EyE.</p>
                    <p style="visibility:hidden;">La información deberá subirse en los meses de enero y febrero.</p>
                    <p style="visibility:hidden;">En caso de tener dudas con respecto a su declaración puede ver los tutoriales y preguntas frecuentes.</p>
                    </div>
            </div>
        </div>
    </section>
</div>