:host
{
    width: 100% !important;
    padding: 1%;
}
.buttonRight {
    position: absolute;
    right: 40px;
  }

  :host ::ng-deep .p-multiselect {
    min-width: 15rem;
    width: 100%;
}
.ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}
