<!-- inicio breadcrumbs -->
<nav class="breadcrumbs d-none d-lg-block" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
        <li class="breadcrumb-item"><a href="#">Mantener Usuarios</a></li>
    </ol>
</nav>
<h1>Usuarios</h1>
<div class="buttonRight">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="isEdit=false; clearFrom()">Agregar Usuario</button>
</div>
<div style="height: 50px;"></div>
<div class="row mb-3">
    <div class="col-md-12">
        <label>Filtro:</label>
        <input id="inp_filter" type="text" class="form-control" placeholder="Filtro de búsqueda"
            (keyup)="filter($event.target)">
    </div>
</div>
<div class="table-responsive mb-4">
    <!-- inicio Consulta de Declaración -->
    <section>
        <div class="row w-100 ">
            <!-- Columna 1 -->
            <div id="table" #table1 class="w-100 ">
                <div class="w-100">
                    <!-- Tabla Desktop -->
                    <table
                        class="table-container table table-even table-section table-borderless table-border table-radius d-lg-table">
                        <thead>
                            <tr class="text-center w-100">
                                <th>NOMBRE</th>
                                <th>ROLES</th>
                                <th>TELÉFONO</th>
                                <th>E-MAIL</th>
                                <th>TÉLEFONO OFICINA</th>
                                <th>CARGO</th>
                                <th>EMPRESAS</th>
                                <th>OPCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-end w-100" *ngFor="let r of db; let x = index">
                                <td>{{r.FIRST_NAME}} {{r.LAST_NAME}}</td>
                                <td>{{showRoles(r) || 'No Asignado'}}</td>
                                <td>{{r.PHONE}}</td>
                                <td>{{r.EMAIL}}</td>
                                <td>{{r.PHONE_OFFICE}}</td>
                                <td>{{r.POSITION || 'No Asignado'}}</td>
                                <td>{{showBusiness(r) || 'No Asignado'}}
                                </td>
                                <td>
                                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        (click)="selectUser(r.ID)">Modificar</button>
                                    <button class="btn btn-danger" (click)="deleteUser(r.ID)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <nav aria-label="Navegación resultados">
                        <ul class="pagination">
                            <li><button class="btn btn-primary" (click)="pagTo(0)">Primero</button></li>
                            <li><button class="btn btn-primary" (click)="previus()">Anterior</button></li>
                            <li *ngFor="let in of setArrayFromNumber(); let i = index"><button class="border btn btn-sm"
                                    [ngClass]="{ 'btn-info':pos==(i+1), 'btn-primary': pos != (i+1)}"
                                    (click)="pagTo(i)">{{i+1}}</button></li>
                            <li><button class="btn btn-primary" (click)="next()">Siguiente</button></li>
                            <li><button class="btn btn-primary" (click)="pagTo(cant-1)">Último</button></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- fin Consulta de Declaración -->
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="userForm">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inp_nom">NOMBRE:</label>
                                <input type="text" formControlName="FIRST_NAME" id="inp_nom" placeholder="Nombre"
                                    class="form-control">
                                    <div *ngIf="userForm.controls['FIRST_NAME'].errors && userForm.controls['FIRST_NAME'].touched" class="text-danger pl-0">
                                        <p *ngIf="userForm.controls['FIRST_NAME'].errors['required']">El nombre del usuario es requerido.</p>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inp_ap">APELLIDOS:</label>
                                <input type="text" formControlName="LAST_NAME" id="inp_ap" placeholder="Apellidos"
                                    class="form-control">
                                    <div *ngIf="userForm.controls['LAST_NAME'].errors && userForm.controls['LAST_NAME'].touched" class="text-danger pl-0">
                                        <p *ngIf="userForm.controls['LAST_NAME'].errors['required']">El apellido del usuario es requerido.</p>
                                    </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <label for="inp_tel">TELÉFONO</label>
                                <input type="text" formControlName="PHONE" class="form-control" id="inp_tel"
                                    placeholder="912345678">
                                    <div *ngIf="userForm.controls['PHONE'].errors && userForm.controls['PHONE'].touched" class="text-danger pl-0">
                                        <p *ngIf="userForm.controls['PHONE'].errors['required']">El teléfono del usuario es requerido.</p>
                                        <p *ngIf="userForm.controls['PHONE'].errors['pattern']">El formato del teléfono es inválido (entre 7 y 12 dígitos).</p>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inp_email">E-MAIL</label>
                                <input type="text" formControlName="EMAIL" id="inp_email"
                                    class="form-control" placeholder="cto@correo.com">
                                <!-- <p class="text-danger" *ngIf="showErrorEmail">El correo ya se encuentra registrado.</p> -->
                                <div *ngIf="userForm.controls['EMAIL'].errors && userForm.controls['EMAIL'].touched" class="text-danger pl-0">
                                    <p *ngIf="userForm.controls['EMAIL'].errors['required']">El email contacto es requerido (ejemplo@correo.com).</p>
                                    <p *ngIf="userForm.controls['EMAIL'].errors['email']">El formato del correo es inválido (ejemplo@correo.com).</p>
                                    <p *ngIf="userForm.controls['EMAIL'].errors['pattern']">El formato del correo es inválido (ejemplo@correo.com).</p>
                                    <p *ngIf="userForm.controls['EMAIL'].errors['used']">El correo ya se encuentra registrado.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <label for="inp_tel">TELÉFONO OFICINA</label>
                                <input type="text" formControlName="PHONE_OFFICE" required class="form-control"
                                    id="inp_tel" placeholder="912345678">
                                    <div *ngIf="userForm.controls['PHONE_OFFICE'].errors && userForm.controls['PHONE_OFFICE'].touched" class="text-danger pl-0">
                                        <p *ngIf="userForm.controls['PHONE_OFFICE'].errors['required']">El teléfono de la oficina del usuario es requerido (entre 7 y 12 dígitos).</p>
                                        <p *ngIf="userForm.controls['PHONE_OFFICE'].errors['pattern']">El formato del teléfono es inválido (entre 7 y 12 dígitos).</p>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inp_email">CARGO</label>
                                <input type="text" formControlName="POSITION" id="inp_email" class="form-control"
                                    placeholder="Gerente">
                                    <div *ngIf="userForm.controls['POSITION'].errors && userForm.controls['POSITION'].touched" class="text-danger pl-0">
                                        <p *ngIf="userForm.controls['POSITION'].errors['required']">El cargo del usuario es requerido.</p>
                                    </div>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <label for="">EMPRESAS</label> <br>
                                <p-multiSelect [options]="business" formControlName="BUSINESS" optionLabel="view_name" optionValue="ID"
                                    defaultLabel="Seleccione Empresas" [selectedItemsLabel]="'{0} Empresas seleccionadas'"></p-multiSelect>
                                <div *ngIf="userForm.controls['BUSINESS'].errors && userForm.controls['BUSINESS'].touched"
                                    class="text-danger pl-0">
                                    <p *ngIf="userForm.controls['BUSINESS'].errors['required']">Empresa(s) del usuario es requerido.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="inp_rol">ROLES</label>
                                <!-- <select formControlName="ROL" id="inp_rol" class="form-select"> -->
                                    <p-multiSelect [options]="listRoles" formControlName="ROL" optionLabel="view_name" optionValue="ID" 
                                    defaultLabel="Seleccione Roles"
                                    [selectedItemsLabel]="'{0} Roles seleccionados'"></p-multiSelect>
                                    <!-- <option value="0">Seleccione Roles</option>
                                    <option *ngFor="let r of listRoles" [ngValue]="r.ID">{{r.NAME}}</option>
                                </select> -->
                                
                                <div *ngIf="userForm.controls['ROL'].errors && userForm.controls['ROL'].touched" class="text-danger pl-0">
                                    <p *ngIf="userForm.controls['ROL'].errors['required']">Rol(es) del usuario es requerido.</p>
                                    <p *ngIf="userForm.controls['ROL'].errors['min']">Rol(es) del usuario es requerido.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <span *ngFor="let e of userForm.value.BUSINESS"
                                    class="badge bg-primary m-1">{{showName(e)}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseModal" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="saveForm()"
                    [disabled]="userForm.invalid || saving">Guardar</button>
            </div>
        </div>
    </div>
</div>