<header class="header p-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <!-- boton para mobile -->
        <a
          class="btn d-inline-block d-lg-none me-3 navbar-btn"
          id="sidebarCollapse"
          role="button"
        >
          <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </a>
        <!-- boton para desktop -->
        <a class="btn d-none d-lg-inline-block me-3">
          <span class="shrink-btn"
            ><i class="fa fa-bars fa-lg" aria-hidden="true"></i
          ></span>
        </a>
        <!-- logo  -->
        <a class="me-3" href=""
          ><img
            class="img-fluid d-none d-md-block"
            src="assets/images/logo_cca_white.svg"
            width="240"
            alt="Ir al inicio"
          />
        </a>
      </div>
      <div>
        <span class="site-name nameapp">CCA Fast</span>
      </div>

      <div
        class="menu-h-2 d-flex text-end align-items-center position-relative"
      >
        <!-- Perfil -->
        <div class="profile me-2 me-lg-4">
          <a
            class="text-decoration-none"
            data-bs-toggle="collapse"
            href="#info-profile"
            role="button"
            aria-expanded="false"
            aria-controls="info-profile"
          >
            <div class="circulo">
              <h2>{{ iniciales | uppercase }}</h2>
            </div>
          </a>
        </div>

        <!-- Notificaciones-->
        <div class="info-profile collapse" id="info-profile">
          <div class="info-profile__header">
            <b
              ><p>{{ iniciales | uppercase }}</p></b
            >
          </div>
          <div class="info-profile__body">
            <ul class="list-profile list-unstyled">
              <li class="list-profile__title">Nombre Usuario</li>
              <li class="list-profile__text">{{ sesionData.nombreFull }}</li>
            </ul>
            <ul class="list-profile list-unstyled">
              <li class="list-profile__title">Perfi</li>
              <li class="list-profile__text">{{ sesionData.perfil }}</li>
            </ul>
            <ul class="list-profile list-unstyled">
              <li class="list-profile__title">Institución</li>
              <li class="list-profile__text">
                {{ sesionData.idInstitucionSTR }}
              </li>
            </ul>
            <ul class="list-profile list-unstyled">
              <li class="list-profile__title">Fecha / Hora ingreso</li>
              <li class="list-profile__text">
                {{ sesionData.sfechaHoraIngreso }}
              </li>
            </ul>

            <a class="btn btn-sign-out" (click)="limpiarSesion()"
              ><i
                class="fa fa-sign-out fa-lg"
                style="color: black"
                aria-hidden="true"
              ></i
            ></a>
          </div>
        </div>

        <!-- Botón salir -->
      </div>
    </div>
  </div>
</header>
