<div class="box-login"  >
  <form [formGroup]="formulario" class="form-login" (ngSubmit)="onSubmit()">
    <div>
      <label class="form-label">Usuario:</label>
      <input
        formControlName="controlUsuario"
        type="text"
        class="form-control"
        autocomplete="off"
        [class.is-invalid]="isFormValid('controlUsuario')"
      />
    </div>
    <br>
    <div class="mb-5">
      <label class="form-label">Contraseña:</label>
      <input
        formControlName="controlPassword"
        type="password"
        class="form-control"
        autocomplete="off"
        [class.is-invalid]="isFormValid('controlPassword')"
      />
      <div class="mt-2"
      style="color: red"
      *ngIf="hasFormError('controlUsuario')"
    >
      Debe ingresar un usuario
    </div>
      <div class="mt-2"
      style="color: red"
      *ngIf="hasFormError('controlPassword')"
    >
      Debe ingresar una contraseña
    </div>
    <div  class="mt-2" style="color: red" *ngIf="showAlert">
    
        {{ messageDataAlerts }}
      </div>
    </div>

    <div class="mb-3">
      <button style="width:100%;" type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </div>
  </form>
</div>
