<div id="content" class="w-100">
    <section class="consulta-declaracion">
        <div class="row">
            <!-- Col 1/3 -->
            <div class="col-12 col-lg-6 col-xl-4 d-flex">
                <div class="box box-semiradius box-semiradius-secondary box-header mb-4 w-100">
                    <h2 class="box-header-h1">Información ProREP</h2>
                    <ul class="list list-data list-data-tit-text-col list-unstyled">
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-building fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Nombre SG:</strong><br>Corporación PROREP para la Gestión de Residuos
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-building fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Rut:</strong><br>65.216.268-1
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Dirección:</strong><br>Avda. Andrés Bello 2777, of. 501, Las Condes, Santiago
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-building fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Giro:</strong><br>Gestión de Residuos de Envases y Embalajes no Domiciliarios
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-envelope fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Correo:</strong><br>admin@prorep.cl
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-building fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Asunto:</strong><br>Pago cumplimiento Ley REP y nombre del socio
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Encargada de facturación:</strong><br>Lorena Calderón
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-building fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Banco:</strong><br>Santander
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-building fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Cuenta Corriente</strong><br>89412617
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Col 2/3 -->
            <div class="col-12 col-lg-6 col-xl-4 d-flex">
                <div class="box box-semiradius box-semiradius-secondary box-header mb-4 w-100">
                    <h2 class="box-header-h1">Información para Facturación</h2>
                    <ul class="list list-data list-data-tit-text-col list-unstyled">
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-building fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Nombre Empresa:</strong><br>{{name_business}}
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-building fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Rut:</strong><br>{{rut}}
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-building fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Giro:</strong><br>{{giro}}
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Dirección:</strong><br>{{loc_address}}<br>
                            </span>
                        </li>
                    </ul>
                    <h6 class="box-header-h1" style="border-radius: 1px;">Contraparte Finanzas</h6>
                    <ul class="list list-data list-data-tit-text-col list-unstyled">
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Nombre:</strong><br>{{invoice_name}}
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-envelope fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Correo:</strong><br>{{invoice_email}}
                            </span>
                        </li>
                        <li>
                            <span class="list-data__title">
                                <i class="fa fa-phone fa-fw fa-lg" aria-hidden="true"></i>
                            </span>
                            <span class="list-data__text flex-grow-1 ps-0">
                                <strong>Teléfono:</strong><br>{{invoice_phone}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 d-flex">
                <div class="box box-semiradius box-semiradius-secondary box-header mb-4 w-100">
                    <div style="display: flex; justify-content: center;">

                        <table class="table table-even table-section table-borderless table-align-middle table-border d-lg-table table-statement ">
                            <thead class="box-header-h1">
                                <tr class="box-header-h1">
                                    <th class="box-header-h1" colspan="2" style="text-align: center;">Total Eye (ton)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="columna1">
                                        <strong>Papel/cartón Reciclable</strong>
                                    </td>
                                    <td class="columna2">
                                        <strong>{{resume?.papel}} ton</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="columna1">
                                        <strong>Metal Reciclable</strong>
                                    </td>
                                    <td class="columna2">
                                        <strong>{{resume?.metal}} ton</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="columna1">
                                        <strong>Plástico Reciclable</strong>
                                    </td>
                                    <td class="columna2">
                                        <strong>{{resume?.plastico}} ton</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="columna1">
                                        <strong>No Reciclables</strong>
                                    </td>
                                    <td class="columna2">
                                        <strong>{{resume?.no_reciclable}} ton</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="columna1">
                                      <strong>Total EyE</strong>
                                    </td>
                                    <td class="columna2">
                                      <strong>{{getTotalEyE()}} ton</strong>
                                    </td>
                                  </tr>                                  
                            </tbody>
                        </table>
                    </div>
                    <div style="display: flex; justify-content: center;">

                        <table
                            class="table table-even table-section table-borderless table-align-middle table-border d-lg-table table-statement ">
                            <thead class="box-header-h1">
                                <tr class="box-header-h1">
                                    <th class="box-header-h1" colspan="2"style="border-radius: 1px;margin-top: 7px;text-align: center;">Total Facturado
                                        (CLP)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="columna1">
                                      <strong>Monto Neto</strong>
                                    </td>
                                    <td class="columna2">
                                      <strong>$ {{getNeto()}}</strong>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="columna1">
                                      <strong>Monto I.V.A</strong>
                                    </td>
                                    <td class="columna2">
                                      <strong>$ {{getIVA()}}</strong>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="columna1">
                                      <strong>Monto Total</strong>
                                    </td>
                                    <td class="columna2">
                                      <strong>$ {{getTotalFacturado()}}</strong>
                                    </td>
                                  </tr>                                  
                                <tr *ngIf="isButtonVisible">
                                    <td colspan="2" style="text-align: right;">
                                        <button class="btn btn-primary" style="width: 150px;"
                                            (click)="validate()">Validar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h2 *ngIf="isValidated" class="box-header-h1" style="border-radius: 1px;margin-top: 7px;text-align: center;">Cargar orden de compra
                    </h2>
                    <div *ngIf="isValidated">
                        <div class="mt-3" style="margin: 10px;">
                            <input type="file" formControlName="ARCHIVO" id="inp_archivo" class="form-control"
                                accept="application/pdf" required (change)="onFileSelected($event)">
                            <div *ngIf="userForm.controls['ARCHIVO'].errors && userForm.controls['ARCHIVO'].touched"
                                class="text-danger pl-0">
                                <p *ngIf="userForm.controls['ARCHIVO'].errors['invalidFileType']">
                                    El formato del archivo debe ser PDF.
                                </p>
                                <p *ngIf="userForm.controls['ARCHIVO'].errors['invalidFileSize']">
                                    El tamaño del archivo no debe superar 1 MB.
                                </p>
                            </div>
                            <div class="button-container mt-3" style="display: flex; justify-content: space-between">
                                <a href="#" class="btn btn-primary">Ingresar OC más tarde</a>
                                <button class="btn btn-primary" [disabled]="!userForm.controls['ARCHIVO'].valid">Subir
                                    Archivo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                En caso de que la información señalada esté errónea o desactualizada por favor contactarse al correo de
                soporte de plataforma ProREP: soporte@prorep.cl
            </div>
        </div>
    </section>
</div>