:host
{
    width: 90% !important;
    padding: 1%;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
.green-circle {
    background-color: green;
}
  
.red-circle {
    background-color: red;
}

.custom-cursor {
    cursor: pointer;
}

.example-section {
    margin: 0 50px;
}

::ng-deep .custom-autocomplete .p-autocomplete {
    width: 100%;
    max-height: 300px;
}
::ng-deep .custom-autocomplete .p-autocomplete-dropdown {
    width: 10%;
    max-height: 300px;
    background-color: #08a47c;
}

::ng-deep .select .form-select {
   width: 50 !important;
}