<main class="wrapper d-flex">
  <!-- Sidebar Holder -->
  <nav id="sidebar" class="mainmenu">
    <ul class="list-unstyled">
      <li (click)="redirectRuta('N', 'H-1', 'home')" class="nav-item">
        <a class="nav-link" type="button" data-bs-toggle="tooltip">
          <i class="fa fa-home fa-fw" aria-hidden="true"></i>
          <span
            [ngStyle]="menuSeleccionado == 'H-1' ? { color: '#f39200' } : null"
            class="nav-link__hide"
            >Inicio</span
          >
        </a>
      </li>
      <li class="nav-item parent">
        <!-- Monitores -->
        <a
          class="nav-link collapsed"
          data-bs-toggle="collapse"
          href="#monitores"
          role="button"
          aria-expanded="false"
          aria-controls="monitores"
          (click)="modulosOpen('A')"
        >
          <span>
            <i class="fa fa fa-television fa-fw" aria-hidden="true"></i>
            <span class="nav-link__hide">Monitores</span>
          </span>
          <i class="fa fa-chevron-down fa-fw" aria-hidden="true"></i>
        </a>
        <div
          [ngClass]="
            moduloOpen == 'A' || moduloSecundarioOpen == 'MO'
              ? 'collapse show'
              : 'collapse'
          "
          id="monitores"
        >
          <ul class="list-unstyled nav-child">
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'A-1' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('MO', 'A-1', 'monitor-transferencia')"
                class="nav-link"
                >Monitor Transferencias</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'A-2' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('MO', 'A-2', 'monitor-tef-tgr')"
                class="nav-link"
                >Monitor TEF/TGR Masivas</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'A-3' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('MO', 'A-3', 'monitor-copia')"
                class="nav-link"
                >Monitor CCA Copiar</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'A-4' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('MO', 'A-4', 'monitor-integrado')"
                class="nav-link"
                >Monitor Integrado</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'A-5' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('MO', 'A-5', 'monitor-casilla-cca')"
                class="nav-link"
                >Monitor Casilla CCA</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item parent">
        <!-- Consultas -->
        <a
          class="nav-link"
          data-bs-toggle="collapse"
          href="#consulta-transferencias"
          role="button"
          aria-expanded="false"
          aria-controls="Consulta Transferencias"
          (click)="modulosOpen('B')"
        >
          <span>
            <i class="fa fa-usd fa-fw" aria-hidden="true"></i>
            <span class="nav-link__hide">Consultas</span>
          </span>
          <i class="fa fa-chevron-down fa-fw" aria-hidden="true"></i>
        </a>
        <div
          [ngClass]="
            moduloOpen == 'B' || moduloSecundarioOpen == 'CO'
              ? 'collapse show'
              : 'collapse'
          "
          id="consulta-transferencias"
        >
          <ul class="list-unstyled nav-child">
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'B-1' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('CO', 'B-1', 'consulta-tranferencia')"
                class="nav-link"
                >Consulta Transferencias</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'B-2' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('CO', 'B-2', 'consulta-cca-copia')"
                class="nav-link"
                >Consulta CCA Copiar</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'B-3' ? { color: '#f39200' } : null
                "
                (click)="
                  redirectRuta('CO', 'B-3', 'consulta-alerta-transferencia')
                "
                class="nav-link"
                >Consulta Alertas Transferencias</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'B-4' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('CO', 'B-4', 'consulta-tef')"
                class="nav-link"
                >Consulta TEF/TGR Masivas</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'B-5' ? { color: '#f39200' } : null
                "
                (click)="
                  redirectRuta('CO', 'B-5', 'consulta-contingencia-starach')
                "
                class="nav-link"
                >Consulta Contingencias StarAch</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'B-6' ? { color: '#f39200' } : null
                "
                (click)="
                  redirectRuta('CO', 'B-6', 'consulta-contingencia-casilla-sti')
                "
                class="nav-link"
                >Consulta Contingencias Casilla STI</a
              >
            </li>
            <!--   <li
              class="nav-item"
              type="button"
              (click)="redirectRuta('CO','A-1','consulta-contingencias')"
            >
              <a class="nav-link">Consulta Contingencias</a>
            </li> -->
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'B-7' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('CO', 'B-7', 'consulta-casilla-cca')"
                class="nav-link"
                >Consulta Casilla CCA
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item parent">
        <!-- Mantenedores -->
        <a
          class="nav-link"
          data-bs-toggle="collapse"
          href="#mantenedores"
          role="button"
          aria-expanded="false"
          aria-controls="mantenedores"
          (click)="modulosOpen('C')"
        >
          <span>
            <i class="fa fa-files-o fa-fw" aria-hidden="true"></i>
            <span class="nav-link__hide">Mantenedores</span>
          </span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <div
          [ngClass]="
            moduloOpen == 'C' || moduloSecundarioOpen == 'MA'
              ? 'collapse show'
              : 'collapse'
          "
          id="mantenedores"
        >
          <ul class="list-unstyled nav-child">
            <li
              *ngIf="roles == 'Administrador CCA'"
              class="nav-item"
              type="button"
            >
              <a
                [ngStyle]="
                  menuSeleccionado == 'C-1' ? { color: '#f39200' } : null
                "
                (click)="redirectRuta('MA', 'C-1', 'mantenedor-banco')"
                class="nav-link"
                >Bancos</a
              >
            </li>
            <li
              *ngIf="roles == 'Administrador CCA'"
              class="nav-item"
              type="button"
            >
              <a
                [ngStyle]="
                  menuSeleccionado == 'C-2' ? { color: '#f39200' } : null
                "
                (click)="
                  redirectRuta('MA', 'C-2', 'mantenedor-tipo-de-archivo')
                "
                class="nav-link"
                >Tipo de Archivo</a
              >
            </li>
            <li class="nav-item" type="button">
              <a
                [ngStyle]="
                  menuSeleccionado == 'C-3' ? { color: '#f39200' } : null
                "
                (click)="
                  redirectRuta('MA', 'C-3', 'mantenedor-contingencia-starach')
                "
                class="nav-link"
                >Contingencia StarACH</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</main>
