



<app-navbar (isVisibleBar)="onToggleMenu($event)"></app-navbar>

<main class="wrapper d-flex">
    <app-sidebar [isVisible]="isVisible"></app-sidebar>
    <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<script src="assets/js/functions.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- jQuery CDN -->
<script src="assets/js/jquery-1.12.0.min.js"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    // sidebar menu
    $(document).ready(function () {

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        // Cierra notificaciones
        $(document).click(function (event) {
            $('.info-profile.collapse').collapse('hide');
        });

    });
</script>