<div class="container mt-4">
  <!-- inicio breadcrumbs -->
  <nav class="breadcrumbs d-none d-lg-block" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
      <li class="breadcrumb-item"><a href="#/mantenedor/visualizar-mv"><i class="fa fa-home" aria-hidden="true"></i>
        Visualización de medios de verificación</a></li>
      <li class="breadcrumb-item active" aria-current="page">Detalle Visualizacion de medios de verificación</li>
    </ol>
  </nav>
  <!-- fin breadcrumbs -->

  <!-- inicio Consulta de declaración -->
  <section class="declaracion">
    <h1>Detalle Visualizacion de medios de verificación</h1>
    <div class="table-responsive">
      <table class="table-atributos">
        <tbody>
          <tr>
            <td class="attr-name">Nombre de Empresa</td>
            <td class="attr-value">{{ data_consulta.NombreEmpresa }}</td>
          </tr>
          <tr>
            <td class="attr-name">ID Consumidor Industrial</td>
            <td class="attr-value">{{data_consulta.CodigoEmpresa}}</td>
          </tr>
          <tr>
            <td class="attr-name">Establecimiento</td>
            <td class="attr-value">{{ data_consulta.Establecimiento }}</td>
          </tr>
          <tr>
            <td class="attr-name">ID Establecimiento VU</td>
            <td class="attr-value">{{ data_consulta.ID_VU}}</td>
          </tr>
          <tr>
            <td class="attr-name">Región</td>
            <td class="attr-value">{{ data_consulta.Region }}</td>
          </tr>
          <tr>
            <td class="attr-name">Comuna</td>
            <td class="attr-value">{{ data_consulta.Comuna }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="separador"></div>
    <div class="table-responsive">
      <table class="table table-even table-section table-borderless table-radius">
        <thead class="vertical-middle">
          <tr>
            <th class="text-center">Subcategoría</th>
            <th class="text-center">Tipo de tratamiento</th>
            <th class="text-center">Subtipo</th>
            <th class="text-center">Peso</th>
            <th class="text-center">Fecha Retiro</th>
            <th class="text-center">Gestor</th>
          </tr>
        </thead>
        <tbody>
          <td class="text-center">{{detail_consulta.PRECEDENCETIPEADO}}</td>
          <td class="text-center">{{detail_consulta.TIPO_TRATAMIENTO_TIPEADO}}</td>
          <td class="text-center">{{detail_consulta.TYPE_RESIDUE_TIPEADO}}</td>
          <td>
            {{formatValue(detail_consulta.VALUE)}}
          </td>
          <td class="text-center">{{detail_consulta.FechaRetiro | date: 'dd-MM-yyyy'}}</td>
          <td class="text-center">{{detail_consulta.NombreGestor}}</td>
        </tbody>
      </table>
    </div>
    <div class="text-end">
      <button class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <div *ngIf="this.MV_consulta && this.MV_consulta.length > 0">
      <div style="height: 50px;"></div>
      <table
        class="table-container table table-even table-section table-borderless table-border table-radius d-lg-table">
        <thead>
          <tr class="text-center w-100">
            <th>Tipo MV</th>
            <th>Nombre Archivo</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center w-100" *ngFor="let r of MV_consulta; let x = index">
            <td>{{r.TYPE_FILE_TIPEADO}}</td>
            <td>
              <a class="file-link" (click)="downloadFile(r.ID, r.FILE_NAME)">{{r.FILE_NAME}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!isLoading && (!MV_consulta || MV_consulta.length === 0)" class="alert alert-danger">
      No existen medios de verificación para esta declaración.
    </div>       
  </section>
</div>