<!-- inicio breadcrumbs -->
<nav class="breadcrumbs d-none d-lg-block" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
        <li class="breadcrumb-item"><a href="#">Mantener Empresas</a></li>
    </ol>
</nav>

<h1>Empresas</h1>

<div class="buttonRight">

    <button class="btn btn-primary" (click)="popupVisible = !popupVisible">Agregar Empresa</button>
</div>            

<div style="height: 50px;"></div>
<div class="table-responsive mb-4">
    <!-- inicio Consulta de Declaración -->
    <section >
        <div class="row w-100">
            <!-- Columna 1 -->
            <div id = "table" #table1 class="w-100">
                 <div class="w-100" style="overflow-x: scroll">
                    <!-- Tabla Desktop -->
                    <table class="table table-even table-section table-borderless table-border table-radius d-lg-table w-100">
                        
                        <thead>
                            <tr class="text-center w-100" >
                                <th >ID</th>
                                <th >NOMBRE</th>
                                <th >RUT</th>
                                <th >DIRECCIÓN</th>
                                <th >TELÉFONO</th>
                                <th >E-MAIL</th>
                                <th >NOMBRE ACCOUNT MANAGER</th>
                                <th >APELLIDO ACCOUNT MANAGER</th>
                                <th >NOMBRE CONTACTO FACTURACIÓN</th>
                                <th >EMAIL CONTACTO FACTURACIÓN</th>
                                <th >TELÉFONO CONTACTO FACTURACIÓN</th>
                                <th ></th>
                                <th ></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="text-end w-100" *ngFor="let r of name_business; let x = index">
                                <td >{{id_business[x]}}</td>
                                <td >{{name_business[x]}}</td>
                                <td >{{rut[x]}}</td>
                                <td >{{loc_address[x]}}</td>
                                <td >{{phone[x]}}</td>
                                <td >{{email[x]}}</td>
                                <td >{{am_first_name[x]}}</td>
                                <td >{{am_last_name[x]}}</td>
                                <td >{{invoice_name[x]}}</td>
                                <td >{{invoice_email[x]}}</td>
                                <td >{{invoice_phone[x]}}</td>
                                <td > 
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-sm" (click)="popupModify = !popupModify; id = id_business[x]; index = x">Modificar</button>
                                    </div>
                                </td>
                                <td > 
                                    <div class="btn-group">
                                        <button class="btn btn-danger btn-sm" (click)="btnDeleteBusiness(id_business[x])">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<button class="btn btn-primary" (click)="popupVisible = !popupVisible">Agregar Empresa</button>-->

                        <div class="dark-background " *ngIf="popupVisible">
                            <!-- Aquí va el contenido de la ventana emergente -->
                            <form #miFormulario="ngForm" class="popup"
                            autocomplete="off"
                            [formGroup]="formData">
                            <div class="mb-4">
                                <label for="name_business" style="color: rgb(0, 138, 92);"><strong>Nombre de la empresa</strong></label>
                                <div class="input-group">
                                    <input type="name_business" class="form-control" id="name_business" formControlName="name_business"  placeholder="Nombre"/>
                                </div>
                                <div *ngIf="formData.controls['name_business'].errors && formData.controls['name_business'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['name_business'].errors['required']">El nombre de la empresa es requerido.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="rut" style="color: rgb(0, 138, 92);"><strong>Rut de la empresa</strong></label>
                                <div class="input-group">
                                    <input type="rut" class="form-control" id="rut" formControlName="rut" placeholder="Rut" />
                                </div>
                                <div *ngIf="formData.controls['rut'].errors && formData.controls['rut'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['rut'].errors['required']">El rut de la empresa es requerido.</p>
                                    <p *ngIf="formData.controls['rut'].errors['pattern']">El formato del RUT es inválido (Sin puntos y con guión).</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="loc_address" style="color: rgb(0, 138, 92);"><strong>Direcciónde la empresa</strong></label>
                                <div class="input-group">
                                    <input type="loc_address" class="form-control" id="loc_address" formControlName="loc_address" placeholder="Dirección" >
                                </div>
                                <div *ngIf="formData.controls['loc_address'].errors && formData.controls['loc_address'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['loc_address'].errors['required']">La dirección de la empresa es requerida.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="phone" style="color: rgb(0, 138, 92);"><strong>Teléfono/Celular de la empresa</strong></label>
                                <div class="input-group">
                                    <input type="phone" class="form-control" id="phone" formControlName="phone" placeholder="Teléfono/Celular">
                                </div>
                                <div *ngIf="formData.controls['phone'].errors && formData.controls['phone'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['phone'].errors['required']">El número de Teléfono/Celular de la empresa es requerido (9 dígitos).</p>
                                    <p *ngIf="formData.controls['phone'].errors['pattern']">El formato del Teléfono/Celular es inválido (9 dígitos).</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="email" style="color: rgb(0, 138, 92);"><strong>Correo de la empresa</strong></label>
                                <div class="input-group">
                                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="E-mail">
                                </div>
                                <div *ngIf="formData.controls['email'].errors && formData.controls['email'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['email'].errors['required']">El correo de la empresa es requerido (ejemplo@correo.com).</p>
                                    <p *ngIf="formData.controls['email'].errors['email']">El formato del correo es inválido (ejemplo@correo.com).</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="am_first_name" style="color: rgb(0, 138, 92);"><strong>Nombre Account Manager</strong></label>
                                <div class="input-group">
                                    <input type="am_first_name" class="form-control" id="am_first_name" formControlName="am_first_name" placeholder="Nombre Account Manager">
                                </div>
                                <div *ngIf="formData.controls['am_first_name'].errors && formData.controls['am_first_name'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['am_first_name'].errors['required']">El nombre del account manager es requerido.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="am_last_name" style="color: rgb(0, 138, 92);"><strong>Apellido Account Manager</strong></label>
                                <div class="input-group">
                                    <input type="am_last_name" class="form-control" id="am_last_name" formControlName="am_last_name" placeholder="Apellido Account Manager">
                                </div>
                                <div *ngIf="formData.controls['am_last_name'].errors && formData.controls['am_last_name'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['am_last_name'].errors['required']">El apellido del account manager es requerido.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="invoice_name" style="color: rgb(0, 138, 92);"><strong>Nombre contacto facturación</strong></label>
                                <div class="input-group">
                                    <input type="invoice_name" class="form-control" id="invoice_name" formControlName="invoice_name" placeholder="Nombre contacto facturación">
                                </div>
                                <div *ngIf="formData.controls['invoice_name'].errors && formData.controls['invoice_name'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['invoice_name'].errors['required']">El nombre contacto de facturación es requerido.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="invoice_email" style="color: rgb(0, 138, 92);"><strong>Correo contacto facturación</strong></label>
                                <div class="input-group">
                                    <input type="invoice_email" class="form-control" id="invoice_email" formControlName="invoice_email" placeholder="Correo contacto facturación">
                                </div>
                                <div *ngIf="formData.controls['invoice_email'].errors && formData.controls['invoice_email'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['invoice_email'].errors['required']">El email contacto de facturación es requerido (ejemplo@correo.com).</p>
                                    <p *ngIf="formData.controls['invoice_email'].errors['email']">El formato del correo es inválido (ejemplo@correo.com).</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="invoice_phone" style="color: rgb(0, 138, 92);"><strong>Teléfono/Celular contacto facturación</strong></label>
                                <div class="input-group">
                                    <input type="invoice_phone" class="form-control" id="invoice_phone" formControlName="invoice_phone" placeholder="Teléfono/Celular contacto facturación">
                                </div>
                                <div *ngIf="formData.controls['invoice_phone'].errors && formData.controls['invoice_phone'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['invoice_phone'].errors['required']">El telefono de facturación es requerido (9 dígitos).</p>
                                    <p *ngIf="formData.controls['invoice_phone'].errors['pattern']">El formato del teléfono es inválido (9 dígitos).</p>
                                </div>
                            </div>
                                <!-- Otros campos del formulario -->
                                <button type="submit" class="btn btn-primary" style="width: 150px;margin-left: 400px;"(click)="btnAddBusiness()" >Aceptar</button>
                                <button type="button" class="btn btn-secondary buttonRight" style="width: 150px;"(click)="popupVisible = !popupVisible; this.formData.reset()">Cancelar</button>
                              </form>
                        </div>
                        <div class="dark-background " *ngIf="popupModify">
                            <!-- Aquí va el contenido de la ventana emergente -->
                            <form #miFormulari02="ngForm" class="popup"
                            autocomplete="off"
                            [formGroup]="formData">
                            <div class="mb-4">
                                <label for="name_business" style="color: rgb(0, 138, 92);"><strong>Nombre de la empresa</strong></label>
                                <div class="input-group">
                                    <input type="name_business" class="form-control" id="name_business" formControlName="name_business"  placeholder="Nombre" [(ngModel)]="name_business[index]"/>
                                </div>
                                <div *ngIf="formData.controls['name_business'].errors && formData.controls['name_business'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['name_business'].errors['required']">El nombre de la empresa es requerido.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="rut" style="color: rgb(0, 138, 92);"><strong>Rut de la empresa</strong></label>
                                <div class="input-group">
                                    <input type="rut" class="form-control" id="rut" formControlName="rut" placeholder="Rut" [(ngModel)]="rut[index]"/>
                                </div>
                                <div *ngIf="formData.controls['rut'].errors && formData.controls['rut'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['rut'].errors['required']">El rut de la empresa es requerido.</p>
                                    <p *ngIf="formData.controls['rut'].errors['pattern']">El formato del RUT es inválido (Sin puntos y con guión).</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="loc_address" style="color: rgb(0, 138, 92);"><strong>Direcciónde la empresa</strong></label>
                                <div class="input-group">
                                    <input type="loc_address" class="form-control" id="loc_address" formControlName="loc_address" placeholder="Dirección" [(ngModel)]="loc_address[index]">
                                </div>
                                <div *ngIf="formData.controls['loc_address'].errors && formData.controls['loc_address'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['loc_address'].errors['required']">La dirección de la empresa es requerida.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="phone" style="color: rgb(0, 138, 92);"><strong>Teléfono/Celular de la empresa</strong></label>
                                <div class="input-group">
                                    <input type="phone" class="form-control" id="phone" formControlName="phone" placeholder="Teléfono/Celular" [(ngModel)]="phone[index]">
                                </div>
                                <div *ngIf="formData.controls['phone'].errors && formData.controls['phone'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['phone'].errors['required']">El número de Teléfono/Celular de la empresa es requerido (9 dígitos).</p>
                                    <p *ngIf="formData.controls['phone'].errors['pattern']">El formato del Teléfono/Celular es inválido (9 dígitos).</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="email" style="color: rgb(0, 138, 92);"><strong>Correo de la empresa</strong></label>
                                <div class="input-group">
                                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="E-mail" [(ngModel)]="email[index]">
                                </div>
                                <div *ngIf="formData.controls['email'].errors && formData.controls['email'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['email'].errors['required']">El correo de la empresa es requerido (ejemplo@correo.com).</p>
                                    <p *ngIf="formData.controls['email'].errors['email']">El formato del correo es inválido (ejemplo@correo.com).</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="am_first_name" style="color: rgb(0, 138, 92);"><strong>Nombre Account Manager</strong></label>
                                <div class="input-group">
                                    <input type="am_first_name" class="form-control" id="am_first_name" formControlName="am_first_name" placeholder="Nombre Account Manager" [(ngModel)]="am_first_name[index]">
                                </div>
                                <div *ngIf="formData.controls['am_first_name'].errors && formData.controls['am_first_name'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['am_first_name'].errors['required']">El nombre del account manager es requerido.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="am_last_name" style="color: rgb(0, 138, 92);"><strong>Apellido Account Manager</strong></label>
                                <div class="input-group">
                                    <input type="am_last_name" class="form-control" id="am_last_name" formControlName="am_last_name" placeholder="Apellido Account Manager" [(ngModel)]="am_last_name[index]">
                                </div>
                                <div *ngIf="formData.controls['am_last_name'].errors && formData.controls['am_last_name'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['am_last_name'].errors['required']">El apellido del account manager es requerido.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="invoice_name" style="color: rgb(0, 138, 92);"><strong>Nombre contacto facturación</strong></label>
                                <div class="input-group">
                                    <input type="invoice_name" class="form-control" id="invoice_name" formControlName="invoice_name" placeholder="Nombre contacto facturación" [(ngModel)]="invoice_name[index]">
                                </div>
                                <div *ngIf="formData.controls['invoice_name'].errors && formData.controls['invoice_name'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['invoice_name'].errors['required']">El nombre contacto de facturación es requerido.</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="invoice_email" style="color: rgb(0, 138, 92);"><strong>Correo contacto facturación</strong></label>
                                <div class="input-group">
                                    <input type="invoice_email" class="form-control" id="invoice_email" formControlName="invoice_email" placeholder="Correo contacto facturación" [(ngModel)]="invoice_email[index]">
                                </div>
                                <div *ngIf="formData.controls['invoice_email'].errors && formData.controls['invoice_email'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['invoice_email'].errors['required']">El email contacto de facturación es requerido (ejemplo@correo.com).</p>
                                    <p *ngIf="formData.controls['invoice_email'].errors['email']">El formato del correo es inválido (ejemplo@correo.com).</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="invoice_phone" style="color: rgb(0, 138, 92);"><strong>Teléfono/Celular contacto facturación</strong></label>
                                <div class="input-group">
                                    <input type="invoice_phone" class="form-control" id="invoice_phone" formControlName="invoice_phone" placeholder="Teléfono/Celular contacto facturación" [(ngModel)]="invoice_phone[index]">
                                </div>
                                <div *ngIf="formData.controls['invoice_phone'].errors && formData.controls['invoice_phone'].touched" class="text-danger pl-0">
                                    <p *ngIf="formData.controls['invoice_phone'].errors['required']">El telefono de facturación es requerido (9 dígitos).</p>
                                    <p *ngIf="formData.controls['invoice_phone'].errors['pattern']">El formato del teléfono es inválido (9 dígitos).</p>
                                </div>
                            </div>
                                <button type="button" class="btn btn-primary" style="width: 150px;margin-left: 400px;" (click)="btnUpdateBusiness(id)" >Aceptar</button>
                                <button type="button" class="btn btn-secondary buttonRight" style="width: 150px;"(click)="popupModify = !popupModify; this.formData.reset();getAllBusiness()">Cancelar</button>
                              </form>
                        </div>
                        
                </div>
            </div>
        </div>
    </section>
    <!-- fin Consulta de Declaración -->
</div>