<a class="logo-login mb-5 d-none d-xxl-block" href="index.html"
  ><img src="assets/images/logo_cca_white.svg" width="340" alt="Ir al inicio"
/></a>
<div class="container container-login">
  <div class="row justify-content-end">
    <div class="col-12 col-lg-5">
      <div class="text-center mb-3">
        <a class="mb-5 d-block d-xxl-none" href="index.html"
          ><img
            src="assets/images/logo_cca_white.svg"
            width="340"
            alt="Ir al inicio"
        /></a>
        <span class="site-name">CCA Fast</span>
      </div>
      <app-login (inicioSesion)="inicioSesion($event)"></app-login>
    </div>
  </div>
</div>
