.col-lg-5 {
  flex: 0 0 auto;
  width: 100%;

}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
    width: 500px;
    margin-left: 70%;
  }

}

