<nav id="sidebar" class="mainmenu" *ngIf="isVisible">
    <ul class="list-unstyled">
        <li class="nav-item" *ngFor="let link of menu">
            <a *ngIf="link.title != 'Registro de declaración'" routerLinkActive="active" class="nav-link" (click)="hideSidebar()" [href]="link.path" data-bs-toggle="tooltip" [title]="link.title">
                <span>
                    <i class="fa {{link.icon}} fa-fw" aria-hidden="true"></i>
                </span>
                <span class="nav-link__hide">{{link.title}}</span>
            </a>
            <a *ngIf="link.title == 'Registro de declaración'" routerLinkActive="active" class="nav-link" (click)="showDialog(); hideSidebar()" href="#" data-bs-toggle="tooltip" [title]="link.title">
                <span>
                    <i class="fa {{link.icon}} fa-fw" aria-hidden="true"></i>
                </span>
                <span class="nav-link__hide">{{link.title}}</span>
            </a>
        </li>
    </ul>
</nav>