<!-- inicio breadcrumbs -->
<nav class="breadcrumbs d-none d-lg-block" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
        <li class="breadcrumb-item"><a href="#">Mantenedor Establecimientos</a></li>
    </ol>
</nav>

<h1>Establecimientos</h1>
<div class="table-responsive mb-4" >
    <!-- inicio Consulta de Declaración -->
    <section >
        <div class="row w-100 " >
            <!-- Columna 1 -->
            <div id = "table" #table1 class="w-100 " >
                 <div class="w-100">
                    <!-- Tabla Desktop -->
                    <table class="table-container table table-even table-section table-borderless table-border table-radius d-lg-table" >
                        
                        <thead>
                            <tr class="text-center w-100" >
                                <th >NOMBRE</th>
                                <th >DIRECCIÓN</th>
                                <th >Establecimientos</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="text-center w-100" *ngFor="let r of name_business; let x = index">
                                <td >{{name_business[x]}}</td>
                                <td >{{loc_address[x]}}</td>
                                <td > 
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        >Establecimientos</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="userForm">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inp_nom">Establecimiento:</label>
                                <input type="text" formControlName="FIRST_NAME" id="inp_nom" placeholder="Establecimiento"
                                    class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="">Region</label> <br>
                                <p-multiSelect [options]="business" formControlName="BUSINESS" optionLabel="view_name"
                                    optionValue="ID" defaultLabel="Seleccione Región"
                                    [selectedItemsLabel]="'{0} items selected'"></p-multiSelect>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseModal" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="saveForm()">Guardar</button>
            </div>
        </div>
    </div>
</div>