<!-- inicio breadcrumbs -->
<nav class="breadcrumbs d-none d-lg-block" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
        <li class="breadcrumb-item"><a href="#">Mantenedor Establecimientos</a></li>
    </ol>
</nav>
<div style="height: 30px;"></div>
<h1>Establecimientos</h1>
<div class="row mb-3">
    <div class="col-md-12">
        <label>Filtro:</label>
        <input type="text" class="form-control" placeholder="Filtro de búsqueda" (keyup)="filter($event.target)">
    </div>
</div>
<div class="table-responsive mb-4">
    <!-- inicio Consulta de Declaración -->
    <section>
        <div class="row w-100 ">
            <!-- Columna 1 -->
            <div id="table" #table1 class="w-100 ">
                <div class="w-100">
                    <!-- Tabla Desktop -->
                    <table
                        class="table-container table table-even table-section table-borderless table-border table-radius d-lg-table">

                        <thead>
                            <tr class="text-center w-100">
                                <th>CÓDIGO EMPRESA </th>
                                <th>NOMBRE </th>
                                <th>DIRECCIÓN </th>
                                <th>ESTABLECIMIENTOS </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center w-100" *ngFor="let r of db; let x = index">
                                <td>{{r.CODE_BUSINESS}}</td>
                                <td>{{r.NAME}}</td>
                                <td>{{r.LOC_ADDRESS}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-sm rounded-pill" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"
                                            (click)="this.getEstablishment(r.ID); index =r.ID;">Establecimientos</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <nav aria-label="Navegación resultados">
                        <ul class="pagination">
                          <li><button class="btn btn-primary" (click)="pagTo(0)">Primero</button></li>
                          <li><button class="btn btn-primary" (click)="previus()">Anterior</button></li>
                          <li *ngFor="let i of visiblePageNumbers(); let j = index">
                            <button class="border btn btn-sm"
                                    [ngClass]="{ 'btn-info': pos === (i+1), 'btn-primary': pos !== (i+1) }"
                                    (click)="pagTo(i)">{{i+1}}</button>
                          </li>
                          <li><button class="btn btn-primary" (click)="next()">Siguiente</button></li>
                          <li><button class="btn btn-primary" (click)="pagTo(cant-1)">Último</button></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario Establecimientos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form #miFormulario="ngForm" [formGroup]="userForm">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inp_nom">NOMBRE:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="NAME" id="inp_nom"
                                        placeholder="Nombre" class="form-control">
                                </div>
                                <div *ngIf="userForm.controls['NAME'].errors && userForm.controls['NAME'].touched"
                                    class="text-danger pl-0">
                                    <p *ngIf="userForm.controls['NAME'].errors['required']">El nombre del
                                        establecimiento es requerido.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inp_add">DIRECCIÓN:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="ADDRESS" id="inp_add"
                                        placeholder="Direccion" class="form-control">
                                </div>
                                <div *ngIf="userForm.controls['ADDRESS'].errors && userForm.controls['ADDRESS'].touched"
                                    class="text-danger pl-0">
                                    <p *ngIf="userForm.controls['ADDRESS'].errors['required']">La dirección del
                                        establecimiento es requerido.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inp_region">REGIÓN</label>
                                <select formControlName="ID_REGION" id="inp_region" class="form-select" required (change)="communesFilter($event)">
                                    <option value="">Selecciona Región</option>
                                    <option *ngFor="let r of listRegiones" [value]="r.ID" >{{r.NAME}}</option>
                                </select>
                                <div *ngIf="userForm.controls['ID_REGION'].errors && userForm.controls['ID_REGION'].touched"
                                    class="text-danger pl-0">
                                    <p *ngIf="userForm.controls['ID_REGION'].errors['required']">Debe seleccionar alguna
                                        región.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inp_comuna">COMUNA</label>
                                <select formControlName="ID_COMUNA" id="inp_comuna" class="form-select" required>
                                    <option value="">Selecciona Comuna</option>
                                    <option *ngFor="let r of listComunas" [value]="r.communes_id">{{r.communes_name}}</option>
                                </select>
                                <div *ngIf="userForm.controls['ID_COMUNA'].errors && userForm.controls['ID_COMUNA'].touched"
                                    class="text-danger pl-0">
                                    <p *ngIf="userForm.controls['ID_COMUNA'].errors['required']">Debe seleccionar alguna
                                        comuna.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inp_vu">ID VENTANILLA ÚNICA:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="V_UNIQUE" id="inp_vu"
                                        placeholder="ID Ventanilla única" class="form-control">
                                </div>
                                <div *ngIf="userForm.controls['V_UNIQUE'].errors && userForm.controls['V_UNIQUE'].touched"
                                    class="text-danger pl-0">
                                    <p *ngIf="userForm.controls['V_UNIQUE'].errors['required']">El ID de
                                        ventanilla única es requerido.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnCloseModal" class="btn btn-secondary" data-bs-dismiss="modal"
                                (click)="reset()">Cerrar</button>
                            <button type="button" class="btn btn-primary" [disabled]="miFormulario.invalid"
                                (click)="addEstablishment( this.index ) ; ">Agregar</button>
                        </div>
                        <div style="visibility: hidden;">a</div>
                        <div style="visibility: hidden;">a</div>
                        <div *ngIf="this.establishmentStatus && this.establishmentStatus.length > 0">
                            <div style="height: 50px;"></div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label>Filtro:</label>
                                    <input type="text" id="filterInput" class="form-control" placeholder="Filtro de búsqueda"
                                        (keyup)="filterForm($event.target)" formControlName="FILTER">
                                </div>
                            </div>
                            <table
                                class="table-container table table-even table-section table-borderless table-border table-radius d-lg-table">
                                <thead>
                                    <tr class="text-center w-100">
                                        <th>Establecimiento</th>
                                        <th>Dirección</th>
                                        <th>Región</th>
                                        <th>Comuna</th>
                                        <th>Id VU</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center w-100" *ngFor="let r of db2; let x = index">
                                        <td>{{r.NAME_ESTABLISHMENT}}</td>
                                        <td>{{r.ADDRESS}}</td>
                                        <td>{{r.REGION}}</td>
                                        <td>{{r.NAME_COMMUNE}}</td>
                                        <td>{{r.ID_VU}}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm rounded-pill"
                                                (click)="deleteEstablishment(r.ID_ESTABLISHMENT)">
                                                X
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- Pagination -->
                            <nav aria-label="Navegación resultados">
                                <ul class="pagination">
                                    <li><button class="btn btn-primary" (click)="pagTo2(0)">Primero</button></li>
                                    <li><button class="btn btn-primary" (click)="previus2()">Anterior</button></li>
                                    <li *ngFor="let in of setArrayFromNumber2(); let i = index"><button
                                            class="border btn btn-sm"
                                            [ngClass]="{ 'btn-info':pos2==(i+1), 'btn-primary': pos2 != (i+1)}"
                                            (click)="pagTo2(i)">{{i+1}}</button></li>
                                    <li><button class="btn btn-primary" (click)="next2()">Siguiente</button></li>
                                    <li><button class="btn btn-primary" (click)="pagTo2(cant2-1)">Último</button></li>
                                </ul>
                            </nav>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>